<!DOCTYPE html>
<html lang="en">
<head>
  <title>Breast Cancer Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ece3ec;">

<div class="container">
  <h2>Breast Cancer Prediction Model using Gene Expression</h2>
  <form action="{{ url_for('predict')}}", method="POST">
    <div class="form-group">
      <label for="">BRCA1:</label>
      <input type="text" class="form-control" id="brca1" placeholder="Enter value" name="brca1">
    </div>
    <div class="form-group">
      <label for="">BRCA2:</label>
      <input type="text" class="form-control" id="brca2" placeholder="Enter value" name="brca2">
    </div>
    <div class="form-group">
      <label for="">TP53:</label>
      <input type="text" class="form-control" id="tp53" placeholder="Enter value" name="tp53">
    </div>
    <!-- <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group">
      <p>{{pred}}</p>
    </div>
  </form>
</div>

</body>
</html>
